<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ログイン</title>
</head>
<body>
	<h1>Days Application</h1>
    <h2>ログイン</h2>
    <form action="/login" method="post">
        <label for="username">ユーザー名:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">パスワード:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <button type="submit">ログイン</button>
    </form>
	<a href="/register">ユーザー登録へ</a>
    <!-- エラーメッセージの表示 -->
    <div th:if="${errorMessage}">
        <p th:text="${errorMessage}"></p>
    </div>
</body>
</html>
