<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">

    <select id="findByUsername" resultType="com.example.demo.model.User">
    SELECT user_id, user_name, user_password
    FROM days_items
    WHERE user_name = #{userName}
</select>


	<insert id="insertUser" parameterType="com.example.demo.model.User">
		INSERT INTO days_items (user_name,user_password)
		VALUES (#{userName},#{userPassword})
	</insert>
</mapper>